
<video class="banner banner-overlay" playsinline autoplay muted loop>
  <source src="https://res.cloudinary.com/drfxstkte/video/upload/v1652206248/export_web_ALTA_lwvjp5.mp4">
</video>

<h1 id="title">Director & Cinematographer</h1>

<div class="video-links">
  <button id="openPopupButton">
    <p><i class="fa-solid fa-play"></i>Watch full reel</p>
  </button>
  <a href="https://vimeo.com/user62918325" target="_blank"><i class="fa-solid fa-play"></i>Watch videos on Vimeo</a>
</div>

  <div id="reel-popup" class="popup">
    <video id="reel-video" playsinline controls>
      <source src="https://res.cloudinary.com/drfxstkte/video/upload/v1652206248/export_web_ALTA_lwvjp5.mp4">
    </video>
    <div class="popup-overlay">
      <button id="closePopUpButton"><i class="fa-solid fa-xmark"></i></button>
    </div>
  </div>
