
<video class="banner" playsinline autoplay muted loop>
  <source src="https://res.cloudinary.com/drfxstkte/video/upload/v1652206248/export_web_ALTA_lwvjp5.mp4">
</video>

<h1 id="title">Director & Cinematographer</h1>


<%# <%= cl_video_tag("pexels-beach_p2ltot.mp4", preload: true, loop: true, autoplay: true, controls: true, poster: false) %>
