
<div class="main-container">

  <%# :::::::::: Banner :::::::::::: %>
  <div class="banner-wrapper">
    <video class="banner banner-overlay" playsinline autoplay muted loop>
      <source src="https://res.cloudinary.com/drfxstkte/video/upload/v1652206248/export_web_ALTA_lwvjp5.mp4">
    </video>

    <h1 id="title" class="title">Director & Cinematographer</h1>

    <div class="video-links">
      <div id="openPopupButton">
        <p><i class="fa-solid fa-play"></i>Watch full reel</p>
      </div>
      <a href="https://vimeo.com/user62918325" target="_blank"><i class="fa-solid fa-play"></i>Watch videos on Vimeo</a>
    </div>

      <div id="reel-popup" class="popup">
        <div class="popup-overlay">
          <button id="closePopUpButton" class="popup-close-button"><i class="fa-solid fa-xmark"></i></button>
          <video id="reel-video" playsinline controls>
            <source src="https://res.cloudinary.com/drfxstkte/video/upload/v1654976010/export_para_web_reel_completo_con_musica_jrh5td.mp4">
          </video>
        </div>
      </div>
  </div>


  <%# :::::::::::: Videos Grid ::::::::::::::::: %>

  <div class="cards-container">
    <div class="card-item">
      <iframe src="https://player.vimeo.com/video/357389162?h=939678b41c" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="card-item">
      <iframe src="https://player.vimeo.com/video/369510437?h=4c23f46d69" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="card-item">
      <iframe src="https://player.vimeo.com/video/367219161?h=ceae01a947" width="640" height="240" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="card-item">
      <iframe src="https://player.vimeo.com/video/328720600?h=6f6fdcd08c" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

     <div class="card-item">
      <iframe src="https://player.vimeo.com/video/277374417?h=0e0423ee40" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="card-item">
      <iframe src="https://player.vimeo.com/video/249968189?h=93c23de33c" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="card-item">
      <iframe src="https://player.vimeo.com/video/263023523?h=e2a33457f8" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="card-item">

    </div>

    <div class="card-item">

    </div>



  </div>

</div>
