
<video class="banner banner-overlay" playsinline autoplay muted loop>
  <source src="https://res.cloudinary.com/drfxstkte/video/upload/v1652206248/export_web_ALTA_lwvjp5.mp4">
</video>

<h1 id="title">Director & Cinematographer</h1>

<div class="video-links">
  <a href="url">Watch full reel</a>
  <a href="https://vimeo.com/user62918325" target="_blank">Watch videos on Vimeo</a>
</div>


<%# <%= cl_video_tag("pexels-beach_p2ltot.mp4", preload: true, loop: true, autoplay: true, controls: true, poster: false) %>
