.banner {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  object-fit: cover;
  top: 0;
  z-index: -2;
}

.title {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: whitesmoke;
  font-size: 46px;
  text-align: left;
  position: relative;
  top: 354px;
  margin: 5%;
  width: 63%;
  opacity: 0.0;
  animation-name: title;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;


  @keyframes title {
    from {opacity: 0.0;}
    to {opacity: 1;}
  }
}


.video-links {
  font-family: 'Manrope', sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: absolute;
  bottom: 24%;
  right: 7%;
  opacity: 0.0;
  animation-name: video-links;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;
  cursor: pointer;


  @keyframes video-links {
    from {opacity: 0.0;}
    to {opacity: 1;}
  }

  a, p {
    display: inline;
    color: whitesmoke;
    font-size: 18px;
    // text-shadow: 1px 1px 2px #201f1f;
  }
}

.svg-inline--fa {
  font-size: 20px;
  color: burlywood;
  padding: 0 5px;
}

#reel-popup {
  position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  display: flex;
  place-items: center;

  .popup-overlay {
    position: relative;
    position: relative;
    margin: 0 auto;
    max-width: 66%;

    @media (max-width: 500px) {
      max-width: 100%;
    }
  }

  #reel-video {
    position: relative;
    width: 100%;
    z-index: 3;
  }

}

.popup-close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  appearance: none;
  border: none;
  background: none;
  padding: unset;
  cursor: pointer;
  z-index: 4;
}

.fa-xmark {
  color: #898686;;
  font-size: 20px;
}

.popup {
  visibility: hidden;
}

.popup.open {
  visibility: visible;
}

.popup.close {
  visibility: hidden;
}

// :::::::::::: Media Queries :::::::::::::::::: //

@media  (min-width: 992px) {
  .title {
    font-size: 65px;
    font-weight: 500;
    width: 36%;
    top: 360px;
  }

  .video-links  {
    width: 30%;
    bottom: 16%;
  }
}
