.banner {
  width: 100vw;
  height: 80vh;
  position: absolute;
  // display: flex;
  // justify-content: center;
  background-size: cover;
  object-fit: cover;
  top: 50px;
  z-index: -2;
}



#title {
  color: whitesmoke;
  visibility: hidden;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 190px;
  width: 100%;
  text-shadow: 2px 3px 2px #201f1f;
  transition: visibility 3s;
  transition-delay: 2s;
  // transition-duration: 2s;
  // -webkit-animation-name: loading;
  transition-timing-function: linear;
  // animation-iteration-count: 1;

}

// @-webkit-keyframes loading {
//   from {visibility: hidden;}
//   to {visibility: visible;}
// }

@keyframes video-links {
  from {opacity: 0.0;}
  to {opacity: 1;}
}

.video-links {
  // visibility: visible;
  display: flex;
  justify-content: space-around;
  width: 28%;
  position: absolute;
  bottom: 31%;
  right: 28%;
  opacity: 0.0;
  animation-name: video-links;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  a {
    color: whitesmoke;
    font-size: 18px;
    // margin: 0 10px;
    text-shadow: 1px 1px 2px #201f1f;
  }
}
