#navbar {
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 0 5%;
  margin: 0 auto;

  nav {
    display: flex;
    justify-content: space-around;
    width: 20%;
    // color: black;
    // background-color: whitesmoke;
  }

  h3 {
    font-size: 26px;
    font-weight: 200;
    color: black;
  }

  h4 {
    display: flex;
    font-size: 16px;
    font-weight: 500;
  }

}
